:root {
    --white: #fff;
    --grey-light: #cdcdcd;
    --grey-dark: #7a7a7a;
    --black: #161616;
    --transparent: rgba(0, 0, 0, 0);

    --primary-1: #00ffff;
    --primary-2: #686ef3;
    --primary-3: #ffbd12;
    --primary-4: #33ed94;
    --primary-5: #4c9ae4;

    --red: #cc333d;
    --red-50: rgba(204, 51, 61, 0.7);
    --green: #23b07b;
    --green-50: rgba(35, 176, 122, 0.7);
    --blue: #2149cc;
    --blue-50: rgba(33, 73, 204, 0.7);
    --shadow: rgba(0, 0, 0, 0.3);

    --background: var(--black);
    --background-inverted: var(--white);

    --color: var(--white);
    --color-title: var(--white);
    --color-inverted: var(--black);
    --color-subtitle: var(--grey-dark);

    --border: var(--white);
    --border-alt: var(--grey-dark);
    --border-highlight: var(--primary-2);

    --button-primary: var(--primary-2);
    --button-primary-color: var(--white);
    --button-primary-border: var(--white);

    --button-rainbow-color: var(--black);

    --input-background: var(--black);
    --input-background-alt: var(--black);
    --input-active: var(--white);
    --input-error: var(--white);
    --input-border: var(--white);
    --input-border-active: var(--white);

    --font-s: 1.4rem;
    --font: 1.8rem;
    --font-m: 2rem;
    --font-l: 2.2rem;
    --font-xl: 3rem;
    --font-xxl: 4.2rem;
    --font-title: 5.2rem;
}

* {
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
